@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Services";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>We are specialized in:</h2>
</hgroup>

<article>

    <ol class="round">
        <li class="one">
            <h5>Software Development</h5>
            <a href="~/Software.cshtml">Show more..</a>
        </li>

        <li class="two">
            <h5>Outsourcing</h5>
            <a href="~/Outsourcing.cshtml">Show more..</a>
        </li>

        <li class="three">
            <h5>Quality Assaurance</h5>
            <a href="~/QA.cshtml">Show more..</a>
        </li>
    </ol>

</article>

<aside>
    <h3> Click on the links to discover our work!</h3>
    <p>
        Thanks for visits us!
    </p>
</aside>

<div class="imgs">
    <br />
    <br />
    <br />
    <img src="~/Images/out.png" style="width: 120px; height: 120px; margin-left:180px;" />
    <img src="~/Images/sd.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <img src="~/Images/qa.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <br />
    <br />
    <br />
</div>