@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Services";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Outsourcing</h2>
</hgroup>

<article>

    <ol class="round">
        <li class="">
            <h5>Outsourcing</h5>
            <p>
                Transformation of a great innovative idea into a profitable product is challenging. SDC helps companies to build software products they can sell to their customer. SDC takes care of all aspects of the product development cycle including R&D, prototyping, development, testing, maintenance, and support. Depending on the area of application, we adapt software products to multiple platforms, devices, and databases. Products we work on range from large security and compliance systems to entertainment applications running on millions of handsets.
            </p>
        </li>
    </ol>

</article>

<aside>
    <h3> Trust is hard but is harder not to belive that everything is possible!</h3>
    <br />
    <a href="~/About.cshtml">Go back!</a>
</aside>


<div class="imgs">
    <br />
    <br />
    <br />
    <img src="~/Images/angularjs.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <img src="~/Images/node.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <img src="~/Images/ruby.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <br />
    <br />
    <br />
</div>