@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Services";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Quality Assaurance</h2>
</hgroup>

<article>

    <ol class="round">
        <li class="">
            <h5>Quality Assaurance</h5>
            <p>
                SDC  offers diverse pack of software testing services for projects with all levels of complexity. We join a well-developed QA process with state-of-the-art tools and methodology to fulfil the most challenging projects.
            </p>
        </li>
    </ol>

</article>

<aside>
    <h3> Trust is hard but is harder not to belive that everything is possible!</h3>
    <br />
    <a href="~/About.cshtml">Go back!</a>
</aside>

<div class="imgs">
    <br />
    <br />
    <br />
    <img src="~/Images/test.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <img src="~/Images/junit.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <img src="~/Images/qa.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <br />
    <br />
    <br />
</div>


