@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Services";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Software Development</h2>
</hgroup>

<article>

    <ol class="round">
        <li class="">
            <h5>Software Development</h5>
            <p>SDC offers best practices in web development to ensure reliable and successful deliverables. 
               We pay maximum attention to solution architecture and code quality. 
               By constantly mastering new technologies and approaches we ensure you’re getting quality you deserve.</p>
        </li>
    </ol>

</article>

<aside>
    <h3> Trust is hard but is harder not to belive that everything is possible!</h3>
    <br />
    <a href="~/About.cshtml">Go back!</a>
</aside>

<div class="imgs">
    <br />
    <br />
    <br />
    <img src="~/Images/html5.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <img src="~/Images/desk.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <img src="~/Images/mobile.png" style="width: 120px; height: 120px;  margin-left:120px;" />
    <br />
    <br />
    <br />
</div>